.checkout{
    display: flex;
    background: white;
    height: max-content;
    padding: 20px;
    box-sizing: border-box;
}

.checkoutLeft{
    width: 70%;
}

.checkoutRight{
    width: 30%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 20px;
    margin-top: 40px;
}

.checkoutLeft > hr{
    margin: 10px 0px;
    background: none;
    border: 1px solid lightgray;
}